<footer class="footer text-white">
    <div class="grid-container-footer flex-container-footer"> 
        <section class="grid-item grid-itme-1 mt-5 mb-3">
            <p>team@webparam.co.za - 011 083 5479</p>
            <h2 style="margin-bottom: 10%; font-size: 2rem;">Build great solutions with great outcomes today !</h2>
            [<a href="https://www.instagram.com/officialwebparam/" target="_blank" rel="noopener noreferrer">
                instagram
            </a>] 
            [<a href="https://www.instagram.com/officialwebparam/" target="_blank" rel="noopener noreferrer">
                twitter
            </a>]
            [<a href="https://dev.to/teamparam" target="_blank" rel="noopener noreferrer">
                dev.to
            </a>]
            [<a href="https://medium.com/" target="_blank" rel="noopener noreferrer">
                medium
            </a>]<p></p>
            <small >©  2021 Param Technologies | All Rights Reserved.</small><br/>
            <a href="/adminLogin"><div style="font-size: xx-small;">Administration</div></a>
        </section>
        <section class="grid-item grid-itme-2 col-md pb-3" style="padding-top: 17%; padding-left: 35%;">
            <small style="font-weight:700;">Company</small>
                <p class="mb-0">Services</p>
                <p class="mb-0">About Us</p>
        </section>
        <section class="grid-item grid-itme-3"  style="padding-top: 17%;padding-left: 20%;">
            <small style="font-weight:700;">Other</small>
                <p class="mb-0">Developer Path</p>
                <p class="mb-0">Blog & Community <br />(Coming soon)</p>
        </section>
    </div>
    
</footer>