<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="param-logo.png" alt="Param-logo" style="width:6%;"/>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll" style="padding-left: 49%; font-size: small;">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll nav justify-content-end " style="--bs-scroll-height: 100px;">
                <li class="nav-item nav-buttons">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item nav-buttons">
                  <a class="nav-link" href="/Partners">Partnerships</a>
                </li>
                <li class="nav-item nav-buttons">
                  <a class="nav-link" href="/content">Content</a>
                  </li>
                <li class="nav-item nav-buttons">
                  <a class="nav-link" href="/Careers">Careers</a>
                </li>
                <li class="nav-item nav-buttons">
                  <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact">
                      <button>Contact Us</button>
                    </a>
                </li>
              </ul>
        </div>
    </div>
</nav>