<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title> -->
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <title>Web Param | Edit</title>
        <link rel="icon" href="/favicon.ico" />
        
    
</head>
<body>
    <nav  class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <!-- <img src="param-logo.png" alt="Param-logo" style="width:6%;"/> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll" style="padding-left: 48%;">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll nav justify-content-end " style="--bs-scroll-height: 100px;">
                    <li class="nav-item nav-buttons">
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item nav-buttons">
                      <a class="nav-link" href="/Partners">Partnerships</a>
                    </li>
                    <li class="nav-item nav-buttons">
                      <a class="nav-link" href="/content">Content</a>
                      </li>
                    <li class="nav-item nav-buttons">
                      <a class="nav-link" href="/Careers">Careers</a>
                    </li>
                    <li class="nav-item nav-buttons">
                      <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contact">
                          <button>Contact Us</button>
                        </a>
                      </li>
                  </ul>
            </div>
        </div>
    </nav>
    <div>
        <div>Edit...</div>
    <form class="row g-3" action="/adminEdit" method="POST">  
    <% contents.forEach( content => { %>
        <input type="hidden" name="id" value="<%= content._id %>" />
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" required placeholder="Title" value="<%=content.title%>">
          </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" placeholder="Content" rows="10">
                <%=content.description%>
            </textarea>
          </div>
        <div>
            <a href="/content" class="btn btn-secondary">Cancle</a>
            <button type="submit" class="btn btn-primary">Save Post</button>
        </div>
    <%} )%>    
    </form>
    </div>
    <%- include('./partials/scripts.ejs') %>
</body>
</html>