<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body class="">
    <div class="grid-container-index flex-container-media-index">
        <section class="index-section-1" style="background-color: rgba(187, 187, 187, 0.15);">
            <img src="param-logo.png" alt="Param-logo" style="width:25%"/>
            <h1>Connecting <strong class="text-purp">great ideas</strong> with <strong class="text-purp">great teams</strong> through collaboration</h1>
            <p style="font-size: medium">
                Param Technologies is an integrated development studio that works with organisations and their teams to help them build and grow solutions that they can take to market.
            </p>
            <img src="drawing.png" alt="" style="width: 100%"/>
        </section>
        <section  class="index-section-2 " >
            <div class="grid-container-section-1 ">
                <div class="card-box mb-3" style="max-width: 540px;">
                    <div class="row g-0" >
                      <div class="col-md-4" style="flex: 1;">
                        <img src="wire.jpg" style="height: 40vh;
                    width: 100%; object-fit: cover; border-radius: 15px;  object-fit:cover; margin-top:7%; margin-bottom: 7%;"/>
                      </div>
                      <div class="col-md-8"  style="flex: 1;">
                        <div class="card-body">
                          <h5 class="card-title">Partnerships</h5>
                          <p class="card-text" style="font-size: medium">A team that uses collaboration to connect businesses and founders with technologies.</p>
                          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                          <button type="button" class="btn btn-primary btn-sm" style="background-color:#2B7CAB; width: 40%;">
                          <a href="/Partners" style="color: whitesmoke; text-decoration: none;"><div style="font-size: x-small;">let's collab</div></a></button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="grid-container-section-2">
                <div class="card-box mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4" style="flex: 1;">
                        <img src="developer.jpg" style="height: 40vh;
                    width: 105%; object-fit: cover; border-radius: 15px; margin-top:7%; margin-bottom: 7%;"/>
                      </div>
                      <div class="col-md-8" style="flex: 1;">
                        <div class="card-body">
                          <h5 class="card-title">Content</h5>
                          <p class="card-text" style="font-size: medium">From insights and stories on the projects we work on and the people we meet, hear what our team has to say.</p>
                          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                          <button type="button" class="btn btn-success btn-sm" style="background-color: #3FCC71; color: whitesmoke; width: 39%;">
                            <a href="/content" style="color: whitesmoke; text-decoration: none;"><div style="font-size: x-small;">Hear us out</div></a></button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="grid-container-section-3">
                <div class="card-box mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4" style="flex: 1;">
                        <img src="data.jpg" style="height: 40vh;
                        width: 105%; object-fit: cover; border-radius: 15px; margin-top:7%; margin-bottom: 7%;"/>
                      </div>
                      <div class="col-md-8" style="flex: 1;">
                        <div class="card-body">
                          <h5 class="card-title">Careers</h5>
                          <p class="card-text" style="font-size: medium">We are always looking to connect talented individuals with the exciting projects we work on</p>
                          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                          <button type="button" class="btn btn-info btn-sm"  style="background-color: #8D47AD; color: whitesmoke; width: 40%;" >
                            <a href="/careers" style="color: whitesmoke; text-decoration: none; "><div style="font-size: x-small;">We're hiring</div></a></button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </section>
    </div>
    <%- include('./partials/scripts.ejs') %>
</body>
</html>