<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="main">
        <small class="text-blue">African business meets technology</small>
    <div class="grid-container-partners flex-container-media-partners">
        <section class="partners-section-1">
            <div class="grid-container-div-1">
                <h1>A team built to enable collobaration between business and technology</h1>
                <p style="font-size: medium;" >We form partnerships with founders and businesses to become their development partner. Making us responsible for developing solutions that bring positive outcomes and allow for disruption to take.</p>
                <button class="mb-3 mt-5" style="margin-top: 3rem!important;">Team Content</button>
                <div  style="margin-top: -11%;">
                    <button class="mb-3 mt-5 button">About Us</button>
                </div>
            </div>
            <div class="grid-container-div-2">
              <div style="margin-top: -11%;">
                <img src="partner1.png" alt="param-cover-page" style="width: 120%;" class="img"/>
              </div>
            </div>
        </section >
        <section class="partners-section-2">
            <h2 class="text-center" style="margin-top: 5%; margin-bottom: 2%;">Our Business</h2>
            <div class="grid-container-partners-div-1">
                <div class="card-box-x-x  p-5">
                    <h5 class="mt-3">A new model</h5>
                   <p style="font-size: medium; margin-top: -20px; margin-bottom: 1rem;"> We have adopted a performance based model across all our teams, allowing us to deliver value instead of hours to the projects we help build.</p>
                </div>
                <div class="card-box-x card p-5">
                    <h5 class="mt3">Value driven outcomes</h5>
                   <p style="font-size: medium; margin-top: -20px"> We are continuously working to make every project we work on a success. It’s why we choose partnerships, not accepting anything as just done, but setting up project roadmaps, helping you sell to investors and pushing it out for many to use.</p>
                </div>
                <div class="card-box-x-x p-5">
                    <h5 class="mt3">Team Structure</h5>
                    <p style="font-size: medium; margin-top: -20px">Our teams are built to meet our model, bringing together people who are passionate about solving the problem you are trying to and adding in processes that allow for collaboration and innovation to take place.</p>
                </div>
            </div>
        </section>
        
        <section class="partners-section-3">
            <div style="margin-top: 8%;"></div>
            <div class=" mb-3 p-3 card about-div-3 card-box-x" style="width: 100%;max-height: 250px;background-color: rgb(10, 73, 34);">
              <div class="row card-flex-container" style="color: whitesmoke">
                <div class="col-md-6 media-card-div-1">
                  <q style="font-size: small;">We are better working together on delivering one big solution, then working as individuals on smaller outcomes</q><br/>
                  <small style="float: right;">—SOMEONE FAMOUS</small>
                  <div>
                    <button class="mb-3 mt-5 button " style="font-size: x-small;"><a href="/about">About Us</a></button>
                  </div>
                </div>
                <div class="col-md-6 py-3 about-section-3-dev-2">
                  <div class="card-body v-center mx-md-4">
                    <div class="mobile mt-3"></div>
                    <p class="card-text p ">
                      <div class="grid-p">
                        <div class="card p-5 card-box-x" style="height: 150px; width: 122%; color:rgb(10, 73, 34) ;">
                          <p class="p" style="margin-top: 1px; font-size: small;">Global provider of technology</p>
                          <h5 class="card-title" style="margin-top: 0px; font-size: small;">30+ clients</h5>
                        </div>
                        <div class="card p-5 card-box-x" style="height: 150px; width: 122%; color:rgb(10, 73, 34) ;">
                          <p class="p" style="margin-top: -20px; font-size: small;">Technology that is African</p>
                          <h5 class="card-title" style="margin-top: -11px; font-size: small;">Growing to 10+ partners</h5>
                        </div>
                      </div>
                    </p>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                  </div>
                </div>
              </div>
            </div>
            <h2 class="text-center" style="margin-top: 15%; margin-bottom: 2%;">Our values</h2>
            <div class="grid-container-partners-div-2">
                <div class="card-box-x-x  p-5">
                    <img src="maintain.png" alt="Software Consolidation" style="width: 40%;"/>
                    <h5 class="mt-3">Consolidation</h5>
                    <p style="font-size: medium; margin-top: -20px">We use technologies we know how to use. Instead of trying to be everything to everybody, we chose the technologies and people we want to work with. Catering to those who have a commercially viable solution that just needs some assistance in making possible.</p>
                </div>
                <div class="card-box card p-5">
                    <img src="absorb-1.png" style="width: 40%;" alt="Team collaboration"/>
                    <h5 class="mt-3">Collaboration</h5>
                    <p style="font-size: medium; margin-top: -20px">I think you get it now, we are rooting for you to win. By learning every single aspect of your business and the problem, we can build a strategy and assemble a team of problem solvers to create something truly impactful.</p>
                </div>
                <div class="card-box-x-x  p-5">
                    <img src="support.png" style="width: 40%;" alt="Client communication"/>
                    <h5 class="mt-3">Communication</h5>
                    <p style="font-size: medium; margin-top: -20px">To sum it off, we are dedicated to delivering truly innovative solutions and by assisting great people trying to solve interesting problems we can fulfil our mission as an organisation and maybe help give birth to something truly great coming out of Africa.</p>
                </div>
            </div>
        </section>
        <section class="partners-section-carousel">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <!-- <div>
                <h5 style="color: #0d5a09;">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat fugiat quae qui vitae voluptate! Porro inventore dolore at et, quisquam suscipit molestiae a praesentium, tenetur sint dolorum. Cum, obcaecati quae?
              </h5>
              <div style="margin-left: 48%; margin-bottom: 2%;"><a style="color: #0d5a09;" href="/about">About Us</a></div>
              </div> -->
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="wire.jpg" class="d-block w-100" alt="carouselImage" style="border-radius: 15px">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="card w-50" style="margin-left: auto; margin-right: auto; border-radius: 15px;">
                            <div class="card-body" >
                              <h5 class="card-title" style="color: black;">Performance</h5>
                              <p class="card-text" style="color: black; font-size: medium;">Our philosophy is value guided by analytics
                                Maturation of ideas, guided by time frames .</p>
                              <a href="#" class="btn btn-primary">Button</a>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="wire.jpg" class="d-block w-100" alt="..." style="border-radius: 15px;">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="card w-50" style="margin-left: auto; margin-right: auto; border-radius: 15px;">
                            <div class="card-body" >
                              <h5 class="card-title" style="color: black;">Value</h5>
                              <p class="card-text" style="color: black; font-size: medium;">Collaboration with Partners is our greatest asset
                                Our Success, is entrenched in creatively carving project roadmaps
                                Understood my investors, delivering well thought go-to-market strategies.</p>
                              <a href="#" class="btn btn-primary">Button</a>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="wire.jpg" class="d-block w-100" alt="..." style="border-radius: 15px;">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="card w-50" style="margin-left: auto; margin-right: auto; border-radius: 15px;">
                            <div class="card-body" >
                              <h5 class="card-title" style="color: black;">Team</h5>
                              <p class="card-text" style="color: black; font-size: medium;">Our Team, made up of highly skilled technologists
                                is the bedrock, onto which solutions are guided by our lean model
                                This ensures adaptation to client needs & responsibility.</p>
                              <a href="#" class="btn btn-primary">Button</a>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="wire.jpg" class="d-block w-100" alt="..." style="border-radius: 15px;">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="card w-50" style="margin-left: auto; margin-right: auto; border-radius: 15px;">
                            <div class="card-body" >
                              <h5 class="card-title" style="color: black;">Technology</h5>
                              <p class="card-text" style="color: black; font-size: medium;">Our robust Tech Stack, allows us to build across platform applications For mobile, web and desktop This provides flexibility, to solve client needs at any scale.</p>
                              <a href="#" class="btn btn-primary">Button</a>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="wire.jpg" class="d-block w-100" alt="..." style="border-radius: 15px;">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="card w-50" style="margin-left: auto; margin-right: auto; border-radius: 15px;">
                            <div class="card-body" >
                              <h5 class="card-title" style="color: black;">Community</h5>
                              <p class="card-text" style="color: black; font-size: medium;">Environment is everything, our ties with Tshimologong Digital Precinct
                                Positions us as leaders, in the African Technology Renaissance
                                Working close with technologist throughout the continent .</p>
                              <a href="#" class="btn btn-primary">Button</a>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>
        <section class="partners-section-4">
            <div class="grid-container-partners-div-3">
                <div class=" p-5">
                    <h5 class="mt-3">"Everything is possible. Impossible just takes a little longer".</h5>
                    <div style="margin-top: -28px;">
                      <p style="font-size: medium;">We want to take a different approach when it comes to delivering truly innovative solutions. That is through collaboration, assisting great people trying to solve interesting problems, to get something to market. Moving development from the outsourcing model to internal teams, where the magic is happening. We do this by using a consolidated set of tools and processes, because we know if we can get it right at home, we can take those lessons out to the world.</p>
                    </div>
                </div>
                <div class="p-5"><img src="about-3.jpg" alt="Being African talent" style="width: 200%; height: 50vh; border-radius: 15px; object-fit: cover;"/></div>
                <div class=" p-5"><img src="about-2.jpg" alt="Being African talent" style="width: 200%; height: 50vh; border-radius: 15px; object-fit: cover;"/></div>
            </div>
        </section>
    </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs') %>
</body>
</html>