<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div style="width: 21.5%;">
        <form class="row g-3" action="/resetPassword" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
            <div class="mb-3">
                <label for="ConfirmPassword" class="form-label">Confirm password</label>
                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
              </div>
            <div>
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', (e)=>{
            const pass1 = form.password.value;
            const pass2 = form.ConfirmPassword.value;
            if(pass1 !== pass2) {
                alert('Passwords must match');
                e.preventDefault();
                return;
            }
        });
    </script>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs') %>
</body>
</html>