.grid-container-index {
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
.index-section-1 {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}
.index-section-2 {
  margin: auto;
  margin-top: 30px;
}
.text-purp {
  color: #8d47ad;
}
.flat-card {
  background-color: rgba(187, 187, 187, 0.15);
  border: 1px solid #ecebeb;
  text-align: center;
  transition: 1s all;
}
.card-box {
  border-radius: 15px;
  box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #fff;
}
.card-box:hover {
  transition: 1s all;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
}
.index-section-2 .grid-container-section-1 div div {
  /* display: grid; */
  display: flex;
}
.index-section-2 .grid-container-section-2 div div {
  display: flex;
}
.index-section-2 .grid-container-section-3 div div {
  display: flex;
}
.grid-container-section-1 div div div.col-md-8 div {
  display: flex;
  flex-direction: column;
}
.grid-container-section-1 div div div.col-md-8 {
  padding-top: 0px;
}
.grid-container-section-2 div div div.col-md-8 div {
  display: flex;
  flex-direction: column;
}
.grid-container-section-3 div div div.col-md-8 div {
  display: flex;
  flex-direction: column;
}

.col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 1px;
}
@media (max-width: 500px) {
  .flex-container-media-index {
    display: flex;
    flex-direction: column;
  }
}
